{{!-- <td class='code required'><label for='{{valueId}}'>{{name}}</label></td>
<td>
	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{name}}' id='{{valueId}}'/>
		{{else}}
			{{#if default}}
				<textarea class='body-textarea required' placeholder='(required)' name='{{name}}' id="{{valueId}}">{{default}}</textarea>
        <br />
        <div class="parameter-content-type" />
			{{else}}
				<textarea class='body-textarea required' placeholder='(required)' name='{{name}}' id='{{valueId}}'></textarea>
				<br />
				<div class="parameter-content-type" />
			{{/if}}
		{{/if}}
	{{else}}
		{{#if isFile}}
			<input class='parameter' class='required' type='file' name='{{name}}' id='{{valueId}}'/>
		{{else}}
			{{#renderTextParam this}}
			{{/renderTextParam}}
		{{/if}}
	{{/if}}
</td>
<td>
	<strong><span class="markdown">{{{description}}}</span></strong>
</td>
<td>{{{paramType}}}</td>
<td><span class="model-signature"></span></td>
 --}}

<tr class="GrayTableHead">
	<td>Description</td>
	<td>Supported Content Types</td>
</tr>
<tr>
	<td>{{{description}}}</td>
	<td><div class="parameter-content-type" /></td>
</tr>

<tr class="GrayTableHead">
	<td colspan="2">Content Body</td>
</tr>
<tr>
	<td colspan="2">{{{paramType}}}, This function requires as its arguments a list-item-batch element containing a list-item child element for each item to be added. The list-item elements can contain the following child elements:</td>
</tr>
<tr>
	<td colspan="2"><span class="model-signature"></span></td>
</tr>


